<script src="https://tools-static.wmflabs.org/magnustools/resources/js/wikidata.js"></script>

<template id='wd-link-template'>
	<span v-if='typeof item!="undefined"'>
		<a :href='url' target='_blank' class='wikidata'>
			{{use_label}}
		</a>
	</span>
</template>

<script>
'use strict';

let wd_link_wd = new WikiData() ;
let wd_link_base = 'https://www.wikidata.org/wiki/' ;

Vue.component ( 'wd-link' , {
	template : '#wd-link-template' ,
	props : [ 'item' , 'wd' , 'label' ] ,
	data : function () { return { use_label:'' , wikidata:{} , url:'' } } ,
	created : function () {
		let me = this ;
		if ( typeof me.wd == 'undefined' ) me.wikidata = wd_link_wd ;
		else me.wikidata = me.wd ;

		if ( typeof me.item == 'undefined' || me.item == '' ) return ;
		me.use_label = me.getItemID() ;
		me.url = wd_link_base + me.getPrefixedItemID() ;
		if ( typeof me.label != 'undefined' ) {
			me.use_label = me.label ;
			return ;
		}
		me.wikidata.getItemBatch ( [me.getItemID()] , function () {
			let i = me.wikidata.getItem ( me.getItemID() ) ;
			if ( typeof i == 'undefined' ) return ;
			me.use_label = i.getLabel () ;
		} ) ;
	} ,
	methods : {
		getItemID : function () {
			let me = this ;
			if ( typeof me.item == 'undefined' ) return '' ;
			if ( /^\d+$/.test(''+me.item) ) return 'Q'+me.item ;
			return me.item.toUpperCase() ;
		} ,
		getPrefixedItemID : function () {
			let me = this ;
			let id = me.getItemID() ;
			if ( /^[Pp]\d+$/.test(id) ) return 'Property:' + id ;
			return id ;
		}
	}
} ) ;
</script>
